body {
  font-family: 'Rubik', sans-serif;
  background-color: #f5f7fa;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1070px;
  background-color: #c7c1b9;
  margin: 40px auto;
}

/* Main content sections */

.main-content-sections {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.main-content-titel {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #212121;
  margin-bottom: 10px;
}

/* About me section */

.goal-sections {
  margin-top: 50px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #212121;
  margin-bottom: 25px;
}
.about-me-discription {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #212121;
  margin-left: 20px;
  margin-right: 20px;
}

/* My project section */

.my-projects-selections {
  margin-bottom: 10px;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: #212121;
  margin-top: 5px;
}

.my-projects-item-text {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #212121;
}
.my-projects-link {
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #212121;
}

/* My work experience section */

.my-work-experience-section {
  margin-bottom: 10px;
}
.my-work-experience-company {
  color: #212121;
}
.my-work-experience-list {
  padding: 0 0 0 17px;
}
.my-work-experience-description {
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #212121;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #212121;
  margin-right: 20px;
}
.my-work-experience-company-block {
  margin-bottom: 10px;
}

/* My education section */
.my-education-section {
  margin-top: 5px;
}

/* Sidebar-section */

.sidebar-section {
  background-color: #212121;
  width: 370px;
  padding-bottom: 30px;
}
.contact-section,
.tech-skills-section,
.soft-skill-section {
  margin: 10px 0 0 40px;
}

.saidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #c7c1b9;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Contacts section */

.contact-section-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #c7c1b9;
  margin-left: 15px;
}
.contact-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #c7c1b9;
}

/* Tech & Soft skills selections */

.tech-skills-list,
.soft-skills-list {
  padding: 0 0 0 17px;
}

.tech-skills-item,
.soft-skill-item {
  color: #c7c1b9;
}
.tech-skills-item-text,
.soft-skill-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #c7c1b9;
}
